@import "tailwindcss";

.header_border_gradient {
  position: relative;
  padding: 4px;
  border-radius: 9999px;
  background: linear-gradient(90deg, #7670ff 0%, #5b42ff 100%);
}

.header_border_gradient::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  border-radius: inherit;
  padding: 12px 37px;
  z-index: 0;
}

.common_btn {
  background: linear-gradient(90deg, #7670ff 0%, #5b42ff 100%);
  box-shadow: 0px 0px 8px 0px #4b4cff;
  @extends .header_border_gradient;
}
